table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

table, th, td {border: 3px solid yellow;}

th, td {
    padding: 20px;
    text-align: center;
}

thead {
    background: black;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #0056ED
}

tbody tr:nth-child(odd) {
    background-color: #D7FAFE
}

tfoot {
    background: black;
    color: white;
    align: center;
    font-size: 9px;
}

caption {
    font-size: 25px;
    padding: 10px;
}